# Ignoruj pliki systemowe Windows
favicon.png:Zone.Identifier
ikona_favicon.png:Zone.Identifier
.dockerignore:Zone.Identifier
# Ignoruj folder VS Code (jeśli nie chcesz go na GitHubie)
.vscode

# Możesz też dodać inne rzeczy, jeśli nie chcesz ich na GitHubie
# np. pliki .dockerignore też można tu dodać, żeby go ukryć

